{% extends 'base.html' %}

{% block content %}                    
    
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/books" class="active">Livros</a></li>
    </ul>
    <!-- END BREADCRUMB -->                                                
    
    <!-- PAGE TITLE -->
    <div class="page-title">                    
        <h2><span class="fa fa-book"></span> Meus livros</h2>
    </div>
    <!-- END PAGE TITLE -->                     
    
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div style="display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 15px;">
            {% for book in books %}
                <div style="max-width: 300px; margin: 0 auto;">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="display:flex; height: 100px; align-items: center; justify-content: center;">
                            <div class="panel-title-box" >
                                <h2 class="text-center"> {{book.title}} </h2>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="card">
                                <img src="{{book.mediumCoverUrl}}">
                                <br>
                                <p><strong>Autor{% if book.authors|length > 1 %}es{% endif %}: </strong>
                                    {% for author in book.authors %}{{ author }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                                </p>
                                <p><strong>Editora: </strong>{{book.publisher}}</p>
                                <p><strong>Preço: </strong>R$ 9,90</p>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-block btn-info">Editar</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-block btn-danger">Apagar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->                                                 
</div>

{% endblock content %}