{% extends 'base.html' %}

{% block content %}                    
    
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="{{url_for('dashboard.dashboard')}}">Home</a></li>
        <li><a href="/books" class="active">Livros</a></li>
    </ul>
    <!-- END BREADCRUMB -->                                                
    
    <!-- PAGE TITLE -->
    <div class="page-title">                    
        <h2><span class="fa fa-book"></span> Meus livros</h2>
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#add-book"><span class="fa fa-plus"></span> Adicionar livro</button>
    </div>
    <div class="modal" id="add-book" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="largeModalHead">Adicionar livro</h4>
                </div>
                <div class="modal-body">
                    <br>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Fatec destino</label>
                        <div class="col-md-10">
                            <select class="form-control" id="fatec-new-book">
                                <option value="N/A" disabled selected>Selecione uma Fatec</option>
                                {% for fatec in fatecs %}
                                    <option value="{{fatec.id}}">{{fatec.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="col-md-2 control-label">ISBN do livro</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="ISBN-10 ou ISBN-13 do livro sem hífens..." id="isbn-new-book" />
                        </div>
                        <br>
                    </div>
                    <br>
                    <button class="btn btn-success pull-right" onclick="addBook({'url': '{{backend_url}}'})">Salvar</button>
                </div>
            </div>
        </div>
        </div> 
    <!-- END PAGE TITLE -->                     
    
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        {% if not books %}
        <div class="text-center">
            <h1>Você não tem livros cadastrados.</h3>
            <br>
            <img src="{{ url_for('static', filename= 'img/media/no-books.png') }}" style="max-width:20%;">
            <br><br><br>
            <h3>Para cadastrar um livro, clique <a data-toggle="modal" data-target="#add-book">aqui</a> ou no botão adicionar livro.</h3>
        </div>
        {% else %}
            <div style="display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 15px;">
                {% for book in books %}
                    <div style="max-width: 300px; margin: 0 auto;" id="book-{{ book.id }}">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="display:flex; height: 100px; align-items: center; justify-content: center;">
                                <div class="panel-title-box" >
                                    <h2 class="text-center"> {{book.title}} </h2>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="card">
                                    <img src="{{book.mediumCoverUrl}}">
                                    <br>
                                    <p><strong>Autor{% if book.authors|length > 1 %}es{% endif %}: </strong>
                                        {% for author in book.authors %}{{ author }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                    </p>
                                    <p><strong>Editora: </strong>{{book.publisher}}</p>
                                    <p><strong>Descrição: </strong>&nbsp;<span class="fa fa-info-circle" title="{{book.description}}"></span></p>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-block btn-info">Editar</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-block btn-danger" onclick="deleteBook({'id': {{book.id}}, 'url': '{{backend_url}}'})">Apagar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        
    </div>
    <!-- END PAGE CONTENT WRAPPER -->                                                 
</div>

{% endblock content %}

{% block imports %}
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/book.js') }}"></script>
{% endblock imports %}