{% extends 'base-admin.html' %}

{% block content %}                    
    
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="{{url_for('dashboard.dashboard')}}">Home</a></li>
        <li><a href="/books" class="active">Livros</a></li>
    </ul>
    <!-- END BREADCRUMB -->                                                
    
    <!-- PAGE TITLE -->
    <div class="page-title">                    
        <h2><span class="fa fa-book"></span> Meus livros</h2>
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#add-book"><span class="fa fa-plus"></span> Adicionar livro</button>
    </div>
    
    <div class="modal fade" id="add-book" tabindex="-1" role="dialog" aria-labelledby="add-bookLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar livro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <br>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Fatec destino</label>
                        <div class="col-md-10">
                            <select class="form-control" id="fatec-new-book">
                                <option value="N/A" disabled selected>Selecione uma Fatec</option>
                                {% for fatec in fatecs %}
                                    <option value="{{fatec.id}}" id="fatec-{{fatec.id}}" name=>{{fatec.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">ISBN do livro</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="ISBN-10 ou ISBN-13 do livro sem hífens..." id="isbn-new-book" />
                        </div>
                        <br>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Estado do livro</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="Descreva brevemente o estado do livro..." id="book-state" />
                        </div>
                        <br>
                    </div>
                    <br>
                    <button class="btn btn-success pull-right" onclick="addBook({'url': '{{backend_url}}'})">Salvar</button>
                </div>
            </div>
        </div>
    </div> 
    <!-- END PAGE TITLE -->                     
    
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        {% if not books %}
            <div class="text-center">
                <h1>Você não tem livros cadastrados.</h3>
                <br>
                <img src="{{ url_for('static', filename= 'img/media/no-books.png') }}" style="max-width:20%;">
                <br><br><br>
                <h3>Para cadastrar um livro, clique <a data-toggle="modal" data-target="#add-book" class="text-info">aqui</a> ou no botão adicionar livro.</h3>
            </div>
       {% else %}
       <div class="container">
        <div class="row">
            {% for book in books %}
            <div class="col-md-4 col-sm-12 col-lg-4 mt-4" >
                <div class="card" id="book-{{ book.id }}">
                    <img src="{{book.mediumCoverUrl}}" class="card-img-top" style="height:400px;">
                    <div class="card-body">
                        <h2 class="card-title" style="height: 50px;">{{book.title}}</h2>
                        <br>
                        <p class="card-text">Autor{% if book.authors|length > 1 %}es{% endif %}:
                        {% for author in book.authors %}{{ author }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        </p>
                        <p class="card-text"><strong>Editora: </strong>{{book.publisher}}</p>
                        <p class="card-text"><strong>Estado do livro: </strong>{{book.bookState}}</p>
                        <p class="card-text"><strong>Local: </strong>{{book.fatecName}}</p>
                        <p class="card-text"><strong>Descrição: </strong>&nbsp;<span class="fa fa-info-circle" title="{{book.description}}"></span></p>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-block btn-info">Editar</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-block btn-danger" onclick="deleteBook({'id': {{book.id}}, 'url': '{{backend_url}}'})">Apagar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
        {% endif %}

        
    </div>

{% endblock content %}

{% block imports %}
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/book.js') }}"></script>
{% endblock imports %}