<!DOCTYPE html>
<html lang="en" class="body-full-height">
    <head>        
        <!-- META SECTION -->
        <title>Bookshifter</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="{{ url_for('static', filename='css/theme-default.css') }}"/>
        <!-- EOF CSS INCLUDE -->                                      
    </head>
    <body>
        
        <div class="registration-container">            
            <div class="registration-box animated fadeInDown">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{category}}" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <p>{{ message }}</p>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="registration-body">
                    <div class="registration-title"><strong>Esqueceu sua senha?</strong></div>
                    <div class="registration-subtitle">Insira seu email para poder recuperar sua senha.</div>
                    <form class="form-horizontal" method="POST">                        
                    <h4>Seu email</h4>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="fulano@email.com" name="email" />
                        </div>
                    </div>                                                            
                    <div class="form-group push-up-20">
                        <div class="col-md-6">
                            <a href="/register" class="btn btn-link btn-block">Cadastrar-se</a>
                            <a href="/login" class="btn btn-link btn-block">Entrar na sua conta</a>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-success btn-block">Enviar email</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="registration-footer">
                    <div class="pull-left">
                        &copy; Bookshifter
                    </div>
                    <div class="pull-right">
                        <a href="/">Home</a> |
                        <a href="/about">Sobre</a>
                    </div>
                </div>
            </div>
            
        </div>
        
    </body>
</html>






