{% extends 'base.html' %}

{% block content %}                

    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
                            
        <li class="active">Dashboard</li>
    </ul>
    <!-- END BREADCRUMB -->                       
    
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        
        <!-- START WIDGETS -->                    
        <div class="row">
            <div class="col-md-3">
                
                <!-- START WIDGET SLIDER -->
                <div class="widget widget-success widget-item-icon">
                    <div class="widget-item-left">
                        <span class="fa fa-check-circle-o"></span>
                    </div>
                    <div class="widget-data">
                        <div class="widget-int"><a style="text-decoration: none;color:#fff;" href="https://status.ix.br">IX-CE</a></div>
                        <div class="widget-title">Sistemas operacionais</div>
                        <div class="widget-subtitle">Nenhum incidente reportado</div>
                    </div>
                    <div class="widget-controls">
                        <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                    </div>
                </div>        
                <!-- END WIDGET SLIDER -->
                
            </div>
            <div class="col-md-3">
                
                <!-- START WIDGET MESSAGES -->
                <div class="widget widget-default widget-item-icon">
                    <div class="widget-item-left">
                        <span class="fa fa-comments"></span>
                    </div>                             
                    <div class="widget-data">
                        <div class="widget-int num-count">4</div>
                        <div class="widget-title">Novas interações</div>
                        <div class="widget-subtitle">Interações não respondidas</div>
                    </div>      
                    <div class="widget-controls">
                        <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                    </div>
                </div>                            
                <!-- END WIDGET MESSAGES -->
                
            </div>
            <div class="col-md-3">
                
                <!-- START WIDGET REGISTRED -->
                <div class="widget widget-default widget-item-icon">
                    <div class="widget-item-left">
                        <span class="fa fa-ticket"></span>
                    </div>
                    <div class="widget-data">
                        <div class="widget-int num-count">4</div>
                        <div class="widget-title">Tickets abertos</div>
                        <div class="widget-subtitle">Chamados em andamento</div>
                    </div>
                    <div class="widget-controls">
                        <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                    </div>                            
                </div>                            
                <!-- END WIDGET REGISTRED -->
                
            </div>
            <div class="col-md-3">
                
                <!-- START WIDGET CLOCK -->
                <div class="widget widget-info widget-padding-sm">
                    <div class="widget-big-int plugin-clock">00:00</div>                            
                    <div class="widget-subtitle plugin-date">Loading...</div>
                    <div class="widget-subtitle">Atualizada pelo NTP.br</div>
                    <div class="widget-controls">
                        <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="left" title="Remove Widget"><span class="fa fa-times"></span></a>
                    </div>
                    <!-- <div class="widget-buttons widget-c3">
                        <div class="col">
                            <a href="#"><span class="fa fa-clock-o"></span></a>
                        </div>
                        <div class="col">
                            <a href="#"><span class="fa fa-bell"></span></a>
                        </div>
                        <div class="col">
                            <a href="#"><span class="fa fa-calendar"></span></a>
                        </div>
                    </div> -->
                </div>                        
                <!-- END WIDGET CLOCK -->
                
            </div>
        </div>
        <!-- END WIDGETS -->                    
        
        <div class="row">
            <div class="col-md-8">

                <!-- START CUSTOMER SERVICES TABLE -->
                <div class="page-content-wrap"> 
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title-box">
                                <h3>Serviços</h3>
                                <span>Seus serviços de ATM com o IX.br</span>
                            </div>
                            <ul class="panel-controls panel-controls-title">
                                <li>
                                    <div id="reportrange" class="dtrange"> 
                                        <span></span><b class="caret"></b>
                                    </div>
                                </li>
                                <li><a href="#" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a></li>
                            </ul>
                            
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table datatable" style="text-align:center;">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Ticket</th>
                                            <th>Tipo de serviço</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>CS-AS26162-1</td>
                                            <td><a href="">106548</a></td>
                                            <td>ATM-V4</td>
                                            <td><span class="label label-success">Produção</span></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>CS-AS26162-2</td>
                                            <td><a href="">81478</a></td>
                                            <td>ATM-V6</td>
                                            <td><span class="label label-warning">Quarentena</span></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>CS-AS26162-3</td>
                                            <td><a href="">94815</a></td>
                                            <td>ATMv4</td>
                                            <td><span class="label label-info">Em ativação</span></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>CS-AS26162-4</td>
                                            <td><a href="">101848</a></td>
                                            <td>ATMv4</td>
                                            <td><span class="label label-danger">Em desativação</span></td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- END CUSTOMER SERVICES TABLE -->

                <!-- START BILATERALS TABLE -->
                <div class="page-content-wrap"> 
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title-box">
                                <h3>Bilaterais</h3>
                                <span>Suas bilaterais com outros ASNs</span>
                            </div>
                            <ul class="panel-controls panel-controls-title">
                                <li>
                                    <div id="reportrange" class="dtrange">
                                        <span></span><b class="caret"></b>
                                    </div>
                                </li>
                                <li><a href="#" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a></li>
                            </ul>
                            
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table datatable" style="text-align:center;">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Ticket</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>CE-AS26162-AS61580-1</td>
                                            <td><a href="">121345</a></td>
                                            <td><span class="label label-success">Produção</span></td>
                                        </tr>
                                        <tr>
                                            <td>CE-AS26162-AS61580-2</td>
                                            <td><a href="">258420</a></td>
                                            <td><span class="label label-warning">Quarentena</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END BILATERALS TABLE -->
                
                <!-- START SALES BLOCK -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row stacked">
                            <div class="col-md-12">
                                <iframe src="https://mapadeas.ceptro.br" style="width: 100%; height: 400px; pointer-events: none;" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SALES BLOCK -->
                
            </div>
            <div class="col-md-4">
                <!-- START TICKETS BLOCK -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Chamados abertos</h3>         
                        <ul class="panel-controls">
                            <li>
                                <p class="pull-left" style="padding:10px 5px;">Abrir chamado</p>
                                <a href="/forms" target="blank" class="control-primary"><span class="fa fa-plus"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body list-group list-group-contacts">
                        <span class="list-group-item">
                            <div class="list-group-status status-online"></div>
                            <span class="contacts-title">#99841</span>
                            <strong>- PIX Equinix-SP4 - Em ativação</strong>
                            <p>Lorem ipsum dolor sit amet consectetur</p>
                            <div class="list-group-controls">
                                <button class="btn btn-info"><span class="fa fa-external-link"></span></button>
                            </div>
                        </span>
                        <span class="list-group-item">
                            <div class="list-group-status status-away"></div>
                            <span class="contacts-title">#105480</span>
                            <strong>- PIX Globenet - Em migração</strong>
                            <p>Nullam augue neque, sagittis eu iaculis non</p>
                            <div class="list-group-controls">
                                <button class="btn btn-info"><span class="fa fa-external-link"></span></button>
                            </div>
                        </span>
                        <span class="list-group-item">
                            <div class="list-group-status status-away"></div>
                            <span class="contacts-title">#147814</span>
                            <strong>- PIX Eletronet - Em quarentena</strong>
                            <p>Proin aliquam nisi tortor, nec maximus diam tempus.</p>
                            <div class="list-group-controls">
                                <button class="btn btn-info"><span class="fa fa-external-link"></span></button>
                            </div>
                        </span>
                        <span class="list-group-item">
                            <div class="list-group-status status-online"></div>
                            <span class="contacts-title">#98710</span>
                            <strong>- PIX Etice - Em ativação</strong>
                            <p>Fusce et nulla velit. Maecenas aliquam justo.</p>
                            <div class="list-group-controls">
                                <button class="btn btn-info"><span class="fa fa-external-link"></span></button>
                            </div>
                        </span>                             
                    </div>
                </div>
                <!-- END TICKETS BLOCK-->
                
                <!-- START CONNECTIONS BLOCK -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box">
                            <h3>Conexões</h3>
                            <span>Suas conexões com o IX.br</span>
                        </div>
                        <ul class="panel-controls" style="margin-top: 2px;">
                            <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body panel-body-table">
                        
                        <div class="table-responsive">
                            <table class="table table-condensed table-bordered table-striped" style="text-align:center;">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;" width="25%">Nome</th>
                                        <th style="text-align:center;" width="25%">Ticket</th>
                                        <th style="text-align:center;" width="25%">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>AS26162-CC-1</strong></td>
                                        <td><a href="#" style="text-decoration:none;">97458</a></td>
                                        <td><span class="label label-danger">Em desativação</span></td>
                                        
                                    </tr>
                                    <tr>
                                        <td><strong>AS26162-CC-2</strong></td>
                                        <td><a href="#" style="text-decoration:none;">105489</a></td>
                                        <td><span class="label label-success">Produção</span></td>
                                        
                                    </tr>
                                    <tr>
                                        <td><strong>AS26162-CC-3</strong></td>
                                        <td><a href="#" style="text-decoration:none;">114785</a></td>
                                        <td><span class="label label-success">Produção</span></td>
                                        
                                    </tr>
                                    <tr>
                                        <td><strong>AS26162-CC-4</strong></td>
                                        <td><a href="#" style="text-decoration:none;">99841</a></td>
                                        <td><span class="label label-info">Em ativação</span></td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
                <!-- END CONNECTIONS BLOCK -->

                 <!-- START CIX BLOCK -->
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box">
                            <h3>cix</h3>
                            <span>Suas conexões CIX</span>
                        </div>
                        <ul class="panel-controls" style="margin-top: 2px;">
                            <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body panel-body-table">
                        
                        <div class="table-responsive">
                            <table class="table table-condensed table-bordered table-striped" style="text-align:center;">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;" width="25%">Nome</th>
                                        <th style="text-align:center;" width="25%">ATMv4</th>
                                        <th style="text-align:center;" width="25%">ATMv6</th>
                                        <th style="text-align:center;" width="25%">Bilaterais</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>AS26162-CC-1</strong></td>
                                        <td>8</td>
                                        <td>8</td>
                                        <td>4</td>
                                        
                                    </tr>
                                    <tr>
                                        <td><strong>AS26162-CC-2</strong></td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>2</td>
                                        
                                    </tr><tr>
                                        <td><strong>AS26162-CC-3</strong></td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>0</td>
                                        
                                    </tr><tr>
                                        <td><strong>AS26162-CC-4</strong></td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>20</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
                 <!-- END CIX BLOCK-->
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                
                <!-- START LINE CHART -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box">
                            <h3>Tempo médio de resposta à interações</h3>
                            <span>Tempo médio entre interações deste ano, em horas</span>
                        </div>
                        <ul class="panel-controls" style="margin-top: 2px;">
                            <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>  
                    <div class="panel-body">
                        <div id="morris-line-tickets" style="height: 225px;"></div>
                    </div>
                </div>
                <!-- END LINE CHART -->
                
            </div>
            <div class="col-md-4">
                
                <!-- START USERS ACTIVITY BLOCK -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box">
                            <h3>Status de operação (%)</h3>
                            <span>Resumo do status operacional do IX deste ano</span>
                        </div>
                        <ul class="panel-controls" style="margin-top: 2px;">
                            <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>                                        
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                                </ul>                                        
                            </li>                                        
                        </ul>                                    
                    </div>
                    <div class="panel-body padding-0">
                        <div class="chart-holder" id="dashboard-bar-1" style="height: 250px;"></div>
                    </div>
                </div>
                <!-- END USERS ACTIVITY BLOCK -->
                
            </div>
            <div class="col-md-4">
                
                <!-- START VISITORS BLOCK -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box">
                            <h3>Chamados</h3>
                            <span>Resumo dos status dos chamados deste ano</span>
                        </div>
                        <ul class="panel-controls" style="margin-top: 2px;">
                            <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body padding-0">
                        <div class="chart-holder" id="dashboard-donut-1" style="height: 250px;"></div>
                    </div>
                </div>
                <!-- END VISITORS BLOCK -->
                
            </div>
        </div>
        
        <!-- START DASHBOARD CHART -->
        <!-- Por algum motivo, quando removo esse chart, os outros param de funcionar, por isto o display none-->
        <div class="block-full-width" style="display:none;">
        <div id="dashboard-chart" style="height: 250px; width: 100%; float: left;"></div>
            <div class="chart-legend">
            </div>
            <div id="dashboard-legend"></div>
        </div>
        <!-- END DASHBOARD CHART -->
        
    </div>
    <!-- END PAGE CONTENT WRAPPER -->

{% endblock content %}

{% block imports %}
<script type="text/javascript" src="{{ url_for('static', filename= 'js/demo_dashboard.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/plugins/nestable/jquery.nestable.js') }}"></script>

<script>
    // Função para inicializar o nestable e permitir a expansão
    $(document).ready(function () {
        $('#nestable1').nestable({
        }).on('mousedown', 'button', function (e) {
            e.preventDefault();
        });
        // Iniciar nestable colapsado
        // $("#nestable1").nestable('collapseAll')
    });
</script>


{% endblock imports %}