{% extends 'base.html' %}

{% block content %}                    
    
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/forms">Novo chamado</a></li>
        <li class="active"><a href="/forms/join">Ativação</a></li>
    </ul>
    <!-- END BREADCRUMB -->                                                
    
    <!-- PAGE TITLE -->
    <div class="page-title">                    
        <h2><span class="fa fa-ticket"></span> Ativação - AS 26162 - IX CE</h2>
    </div>
    <!-- END PAGE TITLE -->                     
    
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8 col-sm-12">
                <form action="#" class="form-horizontal">
                    <!-- START SERVICE INFORMATION -->
                    <div class="panel panel-default" id="service-panel-join">
                        <div class="panel-heading">
                            <h3 class="panel-title">Informações do serviço</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label text-left">Selecione abaixo o serviço que deseja solicitar:</label>
                                <br><br><br>
                                <div class="col-md-4">
                                    <label class="check"><input type="radio" class="iradio" name="iradio"/> Ativação de uma nova ligação ao IX.br</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="check"><input type="radio" class="iradio" name="iradio"/> Migração ou ampliação da(s) sua(s) porta(s) no IX.br</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="check"><input type="radio" class="iradio" name="iradio"/> Ativação no ATMv4 ou no ATMv6 em uma ligação já existente no IX.br</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label text-left">Selecione abaixo o PIX:</label>
                                <br>
                                <label class="control-label text-left text-muted"><strong>Observações</strong>:<br> Para trocar o AS e a localidade, selecione os campos ao lado esquerdo da barra de pesquisa, no topo da página. <br>Caso o ASN não esteja listado acima, vá em <a href="#">vincular um ASN.</a></label>
                                <br>
                                <label class="control-label text-left">PIX:</label>  
                                <select class="form-control select" id="form-pix-select">
                                    <option value="" title="selecione" >Selecione</option>
                                    <option value="pix-1">Angola Cables</option>
                                    <option value="pix-2">Equinix</option>
                                    <option value="pix-3">Eletronet</option>
                                    <option value="pix-4">RNP</option>
                                    <option value="pix-5">Globenet</option>
                                    <option value="pix-6">Vogel</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- END SERVICE INFORMATION -->

                    <!-- START AS INFORMATION -->

                    <div class="panel panel-default" id="as-panel-join">
                        <div class="panel-heading">
                            <h3 class="panel-title">Informações do ASN</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label text-left">Insira abaixo as informações sobre o ASN:</label>
                                <br><br><br>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label text-left">Nome da organização</label>
                                        <input type="text" value="Núcleo de Informação e Coordenação do Ponto BR" class="form-control text-primary" disabled/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label text-left">Nome curto da organização</label>
                                        <input type="text" value="NIC.br" class="form-control text-primary" disabled/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label text-left">Site da organização</label>
                                        <input type="text" value="https://nic.br" class="form-control text-primary" disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- END AS INFORMATION -->

                    <!-- START CONNECTION INFORMATION -->

                    <div class="panel panel-default" id="connection-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Informações da conexão</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label text-left">Selecione abaixo o tipo de ligação:</label>
                                <br><br>
                                <div class="col-md-6">
                                    <label class="check"><input type="radio" class="iradio" name="iradio" value="porta" onclick="changeForm(this)"/> Porta independente</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="check"><input type="radio" class="iradio" name="iradio" value="cix" onclick="changeForm(this)" /> CIX / Porta compartilhada</label>
                                </div>
                            </div>
                            <div class="form-group" style="display:contents;" >
                                <br>
                                <div class="col-md-12" id="form-porta-join" style="display:none;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label text-left">Quantas portas?</label>
                                            <input type="text" value="" placeholder="2" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="col-md-4">    
                                        <label class="control-label text-left">Tipo de interface:</label>                                                                                    
                                        <select class="form-control select">
                                            <option value="" title="selecione" >Selecione</option>
                                            <option value="1gb" >1Gbps óptico</option>
                                            <option value="10gb" >10Gbps óptico</option>
                                        </select>
                                    </div>

                                    <div class="col-md-4">
                                        <label class="control-label text-left">Detalhes da interface:</label>                                                                                    
                                        <select class="form-control select">
                                            <option value="" title="selecione">Selecione</option>
                                            <option value="1gb">1GigE-LX</option>
                                            <option value="10gb">10GigE-LR</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12" id="form-cix-join-join" style="display:none;">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label text-left">Qual o ASN do responsável pela porta CIX?</label>
                                            <input type="text" value="" placeholder="61580" class="form-control"/>
                                        </div>
                                    </div>

                                    &nbsp;<br>&nbsp;<br>&nbsp;<br>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label text-left">Algum detalhe que CIX informou?</label>
                                            <div>
                                                <textarea name="" id="" rows="3" class="col-md-12 form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="display:contents;" >
                                <br><br>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label text-left">Deixe aqui suas observações, caso queira</label>
                                        <textarea name="" id="" rows="3" class="col-md-12 form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONNECTION INFORMATION -->
                </form>
                <div class="pull-right">
                    <a href="/forms/join/review">
                        <button id="continue-button" class="btn btn-success" disabled><span class="fa fa-arrow-right"></span> Revisar</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    &nbsp;
    
    <!-- END PAGE CONTENT WRAPPER -->
</div>

{% endblock content %}

{% block imports %}

<script>
    var endPage = document.body;
    const formPort = document.getElementById('form-porta-join');
    const formCix = document.getElementById('form-cix-join-join');
    const continueButton = document.getElementById('continue-button');
    function changeForm(radio) {
        continueButton.removeAttribute("disabled");
        if (radio.value === 'porta') {
            endPage.scrollIntoView({ behavior: "smooth", block: "end" });
            formPort.style.display = 'contents';
            formCix.style.display = 'none';
            
        } else if (radio.value == "cix" ) {
            endPage.scrollIntoView({ behavior: "smooth", block: "end" });
            formPort.style.display = 'none';
            formCix.style.display = 'contents';
        }
    }
    
</script>
{% endblock imports %}