{% extends 'base.html' %}

{% block content %}                    
    
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/forms">Novo chamado</a></li>
        <li class="active"><a href="/forms/prefix">Aumento de prefixos</a></li>
    </ul>
    <!-- END BREADCRUMB -->                                                
    
    <!-- PAGE TITLE -->
    <div class="page-title">                    
        <h2><span class="fa fa-ticket"></span> Aumento de prefixos - AS 26162 - IX CE</h2>
    </div>
    <!-- END PAGE TITLE -->                     
    
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8 col-sm-12">
                <form action="#" class="form-horizontal">
                    <!-- START SERVICE INFORMATION -->
                    <div class="panel panel-default" id="service-panel-prefix">
                        <div class="panel-heading">
                            <h3 class="panel-title">Informações do serviço</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label text-left">Selecione abaixo o PIX:</label>
                                <br>
                                <label class="control-label text-left text-muted"><strong>Observações</strong>:<br> Para trocar o AS e a localidade, selecione os campos ao lado esquerdo da barra de pesquisa, no topo da página. <br>Caso o ASN não esteja listado acima, vá em <a href="#">vincular um ASN.</a></label>
                                <br>
                                <label class="control-label text-left">PIX:</label>  
                                <select class="form-control select" id="form-pix-select">
                                    <option value="" title="selecione" >Selecione</option>
                                    <option value="pix-1">Angola Cables</option>
                                    <option value="pix-2">Equinix</option>
                                    <option value="pix-3">Eletronet</option>
                                    <option value="pix-4">RNP</option>
                                    <option value="pix-5">Globenet</option>
                                    <option value="pix-6">Vogel</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- END SERVICE INFORMATION -->

                    <!-- START PREFIX INFORMATION -->

                    <div class="panel panel-default" id="prefix-panel-prefix">
                        <div class="panel-heading">
                            <h3 class="panel-title">Informações do MAC</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label text-left">Insira abaixo as informações solicitadas:</label>

                                <br><br><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label text-left">Qual é o endereço IP para esta sessão BGP?</label>
                                            <input type="text" value="" placeholder="XXX.XXX.XXX.XXX" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label text-left">Entre com o número de prefixos a ser anunciado:</label>
                                            <input type="text" value="" placeholder="2000" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                
                                <br><br><br>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label text-left">Explique o motivo desta solicitação:</label>
                                            <textarea name="" id=""  rows="3" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PREFIX INFORMATION -->
                </form>
                <div class="pull-right">
                    <a href="/forms/prefix/review">
                        <button id="continue-button" class="btn btn-success"><span class="fa fa-arrow-right"></span> Revisar</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    &nbsp;
    
    <!-- END PAGE CONTENT WRAPPER -->
</div>

{% endblock content %}

{% block imports %}
{% endblock imports %}