{% extends 'base.html' %}

{% block content %}                    
    
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/forms">Novo chamado</a></li>
        <li><a href="/forms/prefix">Aumento de prefixos</a></li>
        <li><a href="/forms/prefix/review">Revisão do chamado</a></li>
    </ul>
    <!-- END BREADCRUMB -->                                                
    
    <!-- PAGE TITLE -->
    <div class="page-title">                    
        <h2><span class="fa fa-ticket"></span> Revisão do chamado</h2>
    </div>
    <!-- END PAGE TITLE -->                     
    
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8 col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Confirme apenas se as informações abaixo estiverem corretas.</h3>
                    </div>
                    <div class="panel-body">
                        <h3>Solicitação de Aumento do limite de prefixos</h3>
                        <br>
                        <p><strong>ASN</strong>: 26162</p>
                        <p><strong>IX</strong>: CE</p>
                        <p><strong>PIX</strong>: RNP</p>
                        <br>
                        <h4>Informações</h4>
                        <br>
                        <p><strong>IP:</strong>: 127.0.0.1</p>
                        <p><strong>Limite:</strong>: 8000</p>
                        <br>
                        <h4>Motivo</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo fuga quis voluptatem totam placeat? Hic aliquid at mollitia quis nesciunt, cum ducimus optio ea eius, cupiditate numquam provident magnam laboriosam. </p>
                    </div>                            
                    <div class="panel-footer">
                        <a href="/forms/prefix">
                            <button class="btn btn-primary"><span class="fa fa-arrow-left"></span> Voltar</button>
                        </a>
                        <div class="pull-right">
                            <a href="/">
                                <button class="btn btn-success"><span class="fa fa-check"></span> Abrir chamado</button>
                            </a>
                        </div>
                    </div>                              
                </div>
            </div>
        </div>
    </div>
    <br>
    &nbsp;
    
    <!-- END PAGE CONTENT WRAPPER -->
</div>

{% endblock content %}

{% block imports %}
{% endblock imports %}