{% extends 'base.html' %}

{% block content %}

    <!-- START BREADCRUMB -->
    <ul class="breadcrumb push-down-0">
        <li href="/">Home</li>
        <li class="active">Chamados</li>
    </ul>
    <!-- END BREADCRUMB -->                
                    
    <!-- START CONTENT FRAME -->
    <div class="content-frame">                                    
        <!-- START CONTENT FRAME TOP -->
        <div class="content-frame-top">                        
            <div class="page-title">                    
                <h2><span class="fa fa-ticket"></span> Chamados abertos</h2>
            </div>                                                    
            <div class="pull-right">
                <a href="/forms">
                    <button class="btn btn-success"><span class="fa fa-plus"></span> Abrir chamado</button>
                </a>
                
            </div>                           
        </div>
        <!-- END CONTENT FRAME TOP -->
        
        <!-- START CONTENT FRAME RIGHT -->
        <div class="content-frame-right">
            
            <div class="list-group list-group-contacts border-bottom push-down-10">
                <a href="#" class="list-group-item">                                 
                    <!-- <div class="list-group-status status-online"></div> -->
                    <!-- <img src="{{ url_for('static', filename= 'assets/images/users/user.jpg') }}" class="pull-left"> -->
                    <span class="contacts-title"> #93834</span>
                    <p>Lorem ipsum dolor sit amet consectetur </p>
                </a>                                
                <a href="#" class="list-group-item">                                    
                    <!-- <div class="list-group-status status-online"></div> -->
                    <!-- <img src="{{ url_for('static', filename= 'assets/images/users/user.jpg') }}" class="pull-left"> -->
                    <span class="contacts-title">#104934</span>
                    <p>Lorem ipsum dolor sit amet consectetur </p>
                </a>                                                                
                <a href="#" class="list-group-item active">         
                    <!-- <div class="list-group-status status-online"></div> -->
                    <!-- <img src="{{ url_for('static', filename= 'assets/images/users/user.jpg') }}" class="pull-left"> -->
                    <div class="contacts-title">#111039<span class="label label-danger pull-right">5</span></div>
                    <p>Lorem ipsum dolor sit amet consectetur </p>                                       
                </a>
                <a href="#" class="list-group-item">         
                    <!-- <div class="list-group-status status-away"></div> -->
                    <!-- <img src="{{ url_for('static', filename= 'assets/images/users/user.jpg') }}" class="pull-left"> -->
                    <span class="contacts-title">#102301</span>
                    <p>Lorem ipsum dolor sit amet consectetur </p>                     
                </a>
                <a href="#" class="list-group-item">         
                    <!-- <div class="list-group-status status-offline"></div> -->
                    <!-- <img src="{{ url_for('static', filename= 'assets/images/users/user.jpg') }}" class="pull-left"> -->
                    <span class="contacts-title">#100301</span>
                    <p>Lorem ipsum dolor sit amet consectetur </p>
                </a>
                <a href="#" class="list-group-item">         
                    <!-- <div class="list-group-status status-offline"></div> -->
                    <!-- <img src="{{ url_for('static', filename= 'assets/images/users/user.jpg') }}" class="pull-left"> -->
                    <span class="contacts-title">#99253</span>
                    <p>Lorem ipsum dolor sit amet consectetur </p>
                </a>
                <a href="#" class="list-group-item">         
                    <!-- <div class="list-group-status status-offline"></div> -->
                    <!-- <img src="{{ url_for('static', filename= 'assets/images/users/user.jpg') }}" class="pull-left"> -->
                    <span class="contacts-title">#109384</span>
                    <p>Lorem ipsum dolor sit amet consectetur </p>
                </a>                            
            </div>            
        </div>
        <!-- END CONTENT FRAME RIGHT -->
    
        <!-- START CONTENT FRAME BODY -->
        <div class="content-frame-body content-frame-body-left">
            
            <div class="messages messages-img">
                <div class="item in">
                    <div class="image">
                        <img src="{{ url_for('static', filename= 'assets/images/users/no-image.jpg') }} " alt="IX.br" >
                    </div>
                    <div class="text">
                        <div class="heading">
                            <a href="#">Gustavo Oliveira - gsantos@nic.br</a>
                            <span class="date">08:33</span>
                        </div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis suscipit eros vitae iaculis.
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="{{ url_for('static', filename= 'assets/images/users/user.jpg') }} " alt="Fulano da Silva">
                    </div>                                
                    <div class="text">
                        <div class="heading">
                            <a href="#"> Fulano da Silva - fulano@mail.com</a>
                            <span class="date">08:39</span>
                        </div>                                    
                        Integer et ipsum vitae urna mattis dictum. Sed eu sollicitudin nibh, in luctus velit.
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="{{ url_for('static', filename= 'assets/images/users/user.jpg') }} " alt="Fulano da Silva">
                    </div>                                
                    <div class="text">
                        <div class="heading">
                            <a href="#">Fulano da Silva - fulano@mail.com</a>
                            <span class="date">08:42</span>
                        </div>                                    
                        In dapibus ex ut nisl laoreet aliquam. Donec in mollis leo. Aenean nec suscipit neque, non iaculis justo. Quisque eget odio efficitur, porta risus vitae, sagittis neque.
                    </div>
                </div>
                <div class="item in">
                    <div class="image">
                        <img src="{{ url_for('static', filename= 'assets/images/users/no-image.jpg') }} " alt="IX.br">
                    </div>
                    <div class="text">
                        <div class="heading">
                            <a href="#">Gustavo Oliveira - gsantos@nic.br</a>
                            <span class="date">08:58</span>
                        </div>
                        Curabitur et euismod urna?
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="{{ url_for('static', filename= 'assets/images/users/user.jpg') }} " alt="Fulano da Silva">
                    </div>                                
                    <div class="text">
                        <div class="heading">
                            <a href="#">Fulano da Silva - fulano@mail.com</a>
                            <span class="date">09:11</span>
                        </div>                                    
                        Fusce ultricies erat quis massa interdum, eu elementum urna iaculis
                    </div>
                </div>
                <div class="item in">
                    <div class="image">
                        <img src="{{ url_for('static', filename= 'assets/images/users/no-image.jpg') }} " alt="IX.br">
                    </div>
                    <div class="text">
                        <div class="heading">
                            <a href="#">Gustavo Oliveira - gsantos@nic.br</a>
                            <span class="date">09:22</span>
                        </div>
                        Vestibulum cursus ipsum ut dolor vulputate dapibus. Donec elementum est vel vulputate malesuada?
                    </div>
                </div>
            </div>                        
            
            <div class="panel panel-default push-up-10">
                <div class="panel-body panel-body-search">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><span class="fa fa-camera"></span></button>
                            <button class="btn btn-default"><span class="fa fa-chain"></span></button>
                        </div>
                        <input type="textarea" id="input-interacao" onkeypress="breakline(event)" class="form-control" placeholder="Digite uma mensagem..."/>
                        <div class="input-group-btn">
                            <button class="btn btn-default">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT FRAME BODY -->      
    </div>
    <!-- END PAGE CONTENT FRAME -->
</div>

{% endblock content %}

{% block imports %}
<script>
    function breakline(event) {
        // 13 is the keycode for "enter"
        if (event.keyCode == 13 && event.shiftKey) {
            // alert('shift - enter')
            console.log('shift - enter')
        }
        if (event.keyCode == 13 && !event.shiftKey) {
            // alert('enter')
            console.log('enter')
        }
    }
</script>

{% endblock imports %}